* {
    box-sizing:border-box;
    padding:0;
    margin:0;
    
}
body {
    margin:0;
    padding:0;
    display: flex;
    background-color: hsl(300, 13%, 92%);
}

.left, .right{
    height: 100vh;
}

.left{
    width: 40%;
    height:103vh;
    background-image: url(images/plants.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo{
    position:relative;
    top:150px;
    margin:0px;
    height: 300px;
    background-color: rgba(19, 2, 2, 0.5);
}

.logo, img{
    max-height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;
    height: 150px;
    width:auto;


}
.logo, h1{
    margin:0;
    color:white;
    font-family: 'Norse', 'Times New Roman', 'sans-serif';
    font-size: 150px;
}


#img-credit, #plant-photo{
    display:flex;
    font-size:15px;
    align-items: center;
    justify-content: center;
    color:antiquewhite;
    margin:20px;
    text-decoration: none;
}

.logo{
    color: black;
}


.right, p{
    color:black;
    font-weight: bolder;
    font-size: 25px;
    margin-left: 50px;
    margin-top: 20px;
}

.second-paragraph{
    margin-top: 15px;
}

section{
    margin-top:30px;
    margin-left: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding:20px;
    
}

h2{
    font-size: 2rem;
    margin-bottom: 15px;
}
.signup{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1rem;
    font-size:1rem;
    max-width: 800px;
    margin:0 auto;
    padding: 20px;

}

.form-entry{
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 5px;
}

input{
    width:100%;
    padding:10px;
    margin-bottom: 15px;
    border:1px solid #ccc;
    border-radius:4px;
}

input:invalid{
    border:2px solid red;
}

input:valid{
    border: 2px solid blue;
}

input:focus{
    border-color: blue;
    outline:none;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
}

button{
    margin-left: 50px;
    margin-top:20px;
    background-color: #596d48;
    color: white;
    font-weight:bold;
    font-size: 15px;
    padding:10px;
    border-radius:10px;
    width:200px;
}
#verify{
    display: flex;
    font-size:15px;
    color:black;
}
#log-in{
    color:#596d48;
    text-decoration: none;
}